{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 2,
        "regenerator": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@src": "./src",
          "@api": "./src/api",
          "@models": "./src/models",
          "@locales": "./src/locales"
        }
      }
    ]
  ]
}
